<a href="https://colab.research.google.com/github/FahmidaNourin/CSE445_Machine_Learning/blob/main/Linear_Regression_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lienar Regression Equation:
<br>
`y = mx+c`
<br>
`y = b1*x+b0`
<br>
where,
<br>
`m or b1 = slope`
<br>
`c or  b0 = intercept`

<font color='coral'>So, In linear regression we calculate the slope and the intercept.</font>

#Creating the data  dictionary

In [1]:
data_table = {                 #dictionary
    "Adv Exp (X)" : [4,3,7,2,6,8],
    "Sales Rev (Y)":[16,12,20,17,18,25]
}

In [3]:
type(data_table)

dict

#COnverting the dictionary to panda Data frame

In [4]:
import numpy as np
import pandas as pd


dataset = pd.DataFrame(data_table)

In [12]:
dataset.head(6)

   Adv Exp (X)  Sales Rev (Y)
0            4             16
1            3             12
2            7             20
3            2             17
4            6             18
5            8             25

In [10]:
dataset.shape

(6, 2)

#Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression

X = dataset["Adv Exp (X)"].values.reshape(-1,1)
Y = dataset["Sales Rev (Y)"].values.reshape(-1,1)

model = LinearRegression().fit(X,Y)

##FInding slope(m) and intercept(c)

In [14]:
m=model.coef_[0]
c= model.intercept_

print("Slope: ",m)
print("Intercept: ",c)

Slope:  [1.5]
Intercept:  [10.5]

#Lets make some prediction

In [16]:
x=9

y = m*x+c


print("The Predicted value: ",y)

The Predicted value:  [24.]