<a href="https://colab.research.google.com/github/FahmidaNourin/CSE445_Machine_Learning/blob/main/practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.regration
2.cluster
3.random_forest

#regration

In [1]:
import pandas as pd
import numpy as np



df = pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Rough_Dataset/main/Dataset_midterm_SectionA.csv")

In [11]:
target="survived"

In [2]:
df.head()

,Gender,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,0.0,37.0,1,1,52.5542,S,First,man,FALSE,1
1,0.0,54.0,1,0,26.0000,S,Second,man,FALSE,0
2,0.0,NaN,0,0,7.2500,S,Third,man,TRUE,0
3,1.0,29.0,1,1,10.4625,S,Third,woman,FALL,0
4,0.0,62.0,0,0,26.5500,S,First,man,TRUE,0

In [10]:
df.columns

Index(['Gender', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who',
       'alone', 'survived'],
      dtype='object')

In [3]:
df.shape

(251, 10)

In [5]:
df = df.dropna().reset_index(drop=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gender    196 non-null    float64
 1   age       196 non-null    float64
 2   sibsp     196 non-null    int64
 3   parch     196 non-null    int64
 4   fare      196 non-null    float64
 5   embarked  196 non-null    object
 6   class     196 non-null    object
 7   who       196 non-null    object
 8   alone     196 non-null    object
 9   survived  196 non-null    int64
dtypes: float64(3), int64(3), object(4)
memory usage: 15.4+ KB

In [12]:
df["embarked"].value_counts()

S    150
C     40
Q      6
Name: embarked, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
encd = LabelEncoder()

In [14]:
df["embarked"] = encd.fit_transform(df["embarked"])

In [15]:
df["embarked"].value_counts()

2    150
0     40
1      6
Name: embarked, dtype: int64

In [16]:
df["class"] = encd.fit_transform(df["class"])

In [17]:
df["who"] = encd.fit_transform(df["who"])

In [18]:
df["alone"] = encd.fit_transform(df["alone"])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gender    196 non-null    float64
 1   age       196 non-null    float64
 2   sibsp     196 non-null    int64
 3   parch     196 non-null    int64
 4   fare      196 non-null    float64
 5   embarked  196 non-null    int64
 6   class     196 non-null    int64
 7   who       196 non-null    int64
 8   alone     196 non-null    int64
 9   survived  196 non-null    int64
dtypes: float64(3), int64(7)
memory usage: 15.4 KB

In [30]:
X = df.loc[:,df.columns != target]
Y = df[target]

In [31]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X,Y)

In [23]:
m = model.coef_[0]
c = model.intercept_

print("Slope: ",m)
print("Intercept: ",c)

Slope:  0.5959903765822692
Intercept:  0.5354165446660186

In [25]:
x=5

y = m*x+c


print("The Predicted value: ",y)

The Predicted value:  3.5153684275773642

#clustering

In [34]:
from sklearn.cluster import KMeans
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")
%matplotlib inline


import numpy as np



df = pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Rough_Dataset/main/Dataset_midterm_SectionA.csv")

In [35]:
df.head()

,Gender,age,sibsp,parch,fare,embarked,class,who,alone,survived
0,0.0,37.0,1,1,52.5542,S,First,man,FALSE,1
1,0.0,54.0,1,0,26.0000,S,Second,man,FALSE,0
2,0.0,NaN,0,0,7.2500,S,Third,man,TRUE,0
3,1.0,29.0,1,1,10.4625,S,Third,woman,FALL,0
4,0.0,62.0,0,0,26.5500,S,First,man,TRUE,0

In [36]:
target="survived"

In [37]:
df = df.dropna().reset_index(drop=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gender    196 non-null    float64
 1   age       196 non-null    float64
 2   sibsp     196 non-null    int64
 3   parch     196 non-null    int64
 4   fare      196 non-null    float64
 5   embarked  196 non-null    object
 6   class     196 non-null    object
 7   who       196 non-null    object
 8   alone     196 non-null    object
 9   survived  196 non-null    int64
dtypes: float64(3), int64(3), object(4)
memory usage: 15.4+ KB

In [39]:
from sklearn.preprocessing import LabelEncoder
encd = LabelEncoder()

In [40]:
df["embarked"] = encd.fit_transform(df["embarked"])
df["class"] = encd.fit_transform(df["class"])
df["who"] = encd.fit_transform(df["who"])
df["alone"] = encd.fit_transform(df["alone"])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gender    196 non-null    float64
 1   age       196 non-null    float64
 2   sibsp     196 non-null    int64
 3   parch     196 non-null    int64
 4   fare      196 non-null    float64
 5   embarked  196 non-null    int64
 6   class     196 non-null    int64
 7   who       196 non-null    int64
 8   alone     196 non-null    int64
 9   survived  196 non-null    int64
dtypes: float64(3), int64(7)
memory usage: 15.4 KB

In [42]:
kmeans = KMeans(n_clusters=3)
kmeans.fit(df)

centroids = kmeans.cluster_centers_
labels = kmeans.labels_

print(centroids)
print(labels)

[[3.39622642e-01 3.24575472e+01 4.84276730e-01 3.77358491e-01
  1.77298214e+01 1.67924528e+00 1.42138365e+00 1.19496855e+00
  2.57232704e+00 3.89937107e-01]
 [6.66666667e-01 4.03333333e+01 6.66666667e-01 1.50000000e+00
  2.87479167e+02 6.66666667e-01 2.22044605e-16 1.66666667e+00
  2.33333333e+00 6.66666667e-01]
 [6.77419355e-01 3.10941935e+01 5.80645161e-01 5.80645161e-01
  1.08602284e+02 1.12903226e+00 3.22580645e-02 1.48387097e+00
  2.22580645e+00 7.74193548e-01]]
[0 0 0 0 0 0 0 2 1 0 0 2 0 0 0 0 2 2 0 0 0 2 0 0 0 0 0 0 0 0 0 0 2 2 0 0 0
 0 2 1 0 0 2 2 0 0 2 0 0 0 0 0 0 2 2 0 0 0 0 2 0 0 0 0 0 2 0 2 2 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 0 0 0 2 0 0 1 0 0 1 0 0 0 2 0 0 0
 2 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2
 0 0 1 0 0 0 0 0 2 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 2 2 0 0 0 0 0 0 0 2 2]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [43]:
df['labels'] = labels
df.head(df.shape[0])

,Gender,age,sibsp,parch,fare,embarked,class,who,alone,survived,labels
0,0.0,37.0,1,1,52.5542,2,0,1,2,1,0
1,0.0,54.0,1,0,26.0000,2,1,1,2,0,0
2,1.0,29.0,1,1,10.4625,2,2,2,0,0,0
3,0.0,62.0,0,0,26.5500,2,0,1,3,0,0
4,0.0,30.0,1,0,16.1000,2,2,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...
191,0.0,55.0,0,0,30.5000,2,0,1,3,0,0
192,0.0,71.0,0,0,49.5042,0,0,1,3,0,0
193,0.0,21.0,0,0,8.0500,2,2,1,3,0,0
194,1.0,54.0,1,0,78.2667,0,0,2,2,1,2
195,1.0,25.0,1,2,151.5500,2,0,2,2,0,2

In [45]:
for i in range(100):
  print("Yes, well done!!!!!")

Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!
Yes, well done!!!!!